*
# ignore all but these files:

!.gitignore
!README.md
!LICENSE
!CMakeLists.txt

!/include
!/include/core
!/include/core/*.h
!/include/core/*.hpp

!/src
!/src/CMakeLists.txt

!/src/core
!/src/core/*.c
!/src/core/*.cpp
!/src/core/CMakeLists.txt

!/src/app
!/src/app/*.cpp
!/src/app/*.h
!/src/app/*.ui
!/src/app/CMakeLists.txt

!/tests
!/tests/core_tests.cpp
!/tests/nestest.cpp
!/tests/nestest.hpp
!/tests/harte_tests.cpp
!/tests/harte.hpp
!/tests/harte.cpp
!/tests/nestest.nes
!/tests/mapper_3.nes
!/tests/nestest.log
!/tests/CMakeLists.txt
